<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" href="{{asset "css/style.css"}}">
    <link rel="stylesheet" href="{{asset "css/font-awesome.min.css"}}">
    <script type="text/javascript" src="{{asset "js/jquery-3.1.1.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/script.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>


    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <nav class="main">
        <header class="main">
            <h1 class="main-title">
                <span>Truc et bidules</span>
                <small>Un beau bordel</small>
            </h1>
        </header>
        <ul id="menu">
            <li>
                <a href="#">Menu01</a>
            </li>
            <li>
                <a href="#">Menu02
                    <i class="fa fa-caret-right collapsed" aria-hidden="true"></i>
                    <i class="fa fa-caret-down expanded" aria-hidden="true"></i>
                </a>
                <ul>
                    <li>
                        <a href="#">Sub-menu01</a>
                    </li>
                    <li>
                        <a href="#">Sub-menu01</a>
                    </li>
                    <li>
                        <a href="#">Sub-menu01</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Menu03</a>
            </li>
            <li>
                <a href="#">Menu04</a>
            </li>
            <li>
                <a href="#">Menu05</a>
            </li>
        </ul>
    </nav>
    <nav class="sub">
        <img src="./assets/img/flower.svg">
    </nav>
    <div class="container">
        {{{body}}}
    </div>

    <footer class="site-footer clearfix">
        <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
        <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
    </footer>
    {{ghost_foot}}


    {{!-- The blog navigation links --}}
    <!--{{navigation}}-->

</body>
</html>
